*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #11654f;
    padding: 40px 60px;
}
h2{
    font-size: 3em;
    color: aliceblue;
    letter-spacing: 0.1em;
}
.reset{
    padding: 15px 20px;
    color: #267c65;
    background: aliceblue;
    border:none;
    font-size: 1.5em;
    letter-spacing: 0.3em;
    text-transform:uppercase;
    cursor: pointer;
    font-weight: bolder;
}
.reset:focus{
    color: aliceblue;
    background: #0a3c2f;
}
.game{
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: aliceblue;
    transition: 0.25s;
}
.item.openbox{
    transform: rotateY(0deg);
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #19a580;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.openbox::after,.boxmatch::after{
    transform: rotateY(180deg);

}